# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment
venv/
env/
.env

# Instance folder
instance/

# Distribution / packaging
dist/
build/
*.egg-info/

# Flask stuff
.webassets-cache

# Database
*.db
*.sqlite

# OS specific
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log
.vercel
